@import "./base/reset";
@import "./utilities/extend";
@import "./utilities/mixins";
@import "./sections/header";
@import "./sections/footer";
@import "./views/inicio";
@import "./views/nosotros";
@import "./views/servicios";
@import "./views/horarios";
@import "./views/contacto";


// BOOTSTRAP
.row{
    justify-content: space-between;
}

@media (min-width: 768px){
    .footer{
        display: flex;
        flex-wrap: wrap;
        .section1{
            max-width: 60vw;
            padding: 5vh 5vw;
        }
        .section2{
            max-width: 40vw;
            padding: 5vh 5vw;
        }
    }
}

// @media screen and (max-width: 768px) {
//     .header{
//         flex-wrap: wrap;
//         justify-content: center;
//         nav{
//             width: 100%;
//         }
//         img{
//             left: 0;
//         }
//         ul{
//             justify-content: center;
//             padding-left: 0;
//             flex-wrap: wrap;
//         }
//         li{
//             font-size: 1rem;
//             padding: 2vh 3vw;
//             font-size: 1rem;
//         }
//     }
    
//     .inicio{
//         h1{
//         font-size: 7vw;
//         }
//     }

//     .card{
//         width: 70vw;
//     }

//     .card-img{
//         width: 100%;
//         max-height: 50vh;
//         object-fit: contain;
//     }

//     .footer { 
//         height: 30vh;
//         width: 100vw;
//     }

//     .footer-container{
//         display: flex;
//         flex-direction: column;
//         width: 75%;
//         padding: 2vh 0;
//         margin: auto;
//         height: 9vh;
//         align-items: center;
//         justify-content: space-between;
//         font-size: 3vh;
//     }

//     .contacto-container{
//         h1{
//         margin-top: 40vh;
//         }
//     }
//     .flex-container {
//         margin: 10vh 15vw;
//     }
// }