.horario-container{
    margin: 20vh 10vw;

    h1{
        margin-bottom: 30px;
        @include views-h1(center, 7vh, rgb(255, 63, 63),1px 1px 2px #000000);
        filter: opacity(75%);
    }
    .horario{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            // width: 45%;
            border-radius: 15px;
            border: none;
            img{
                border-radius: 15px;
                border-bottom: 3px solid #f76767;
            }
            .horario__text{
                .card__title{
                    text-align: center;
                }
            }
        }
    }
    ul{
        list-style: none;
    }
}

.horario-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    margin: 20px 10px;
    background-color: #f76767;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px #0000001a #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    ul{
        margin-left: 0;
    }
    article{
        text-align: center;
        margin: 10px 10px;
        width: 60%;
    }
}

.horario-img {
    width: 200px;
    height: 230px;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}